<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Voice Prescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style72.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <a href="{{ url_for('index')}}">Home</a>
      <a class="active" href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('input')}}">Input</a>
       
      
    </div>
    <div class="content">
      <p> ABOUT </p>
    </div>
  	
	
  </body>
</html>