<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Voice Prescription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style72.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <a href="{{ url_for('index')}}">Home</a>
      <a class="active" href="{{ url_for('about') }}">About </a>
      <a href="{{ url_for('input')}}">Input</a>
       
      
    </div>
    <div class="content">
      <p style="color: black;" > ABOUT <br><br><p style="color: black;">The need of the hour is  environment conservation and we want to help in our small way by building this model to facilitate paperless practices in an sector which widely uses paper for daily purposes. We also help to create a digital repository of all the patients and their prescriptions which are helpful for research purposes</p></p>
    </div>
  	
	
  </body>
</html>